.about__banner {
    width: 100%;
    margin-top: 20px;
    max-width: 350px;
}
.about__list{
    padding-left:20px
}
.about__list li {
    margin-bottom: 7px;
}
.about__awards{
    padding-right: 50px;
}
.about__awards p{
    margin-top: 2px;
}
.about__talks p {
    margin: 5px 0;

}
.about__talks a{
    color: #555;
    font-size: .7rem;
    text-decoration: underline
}