.about{
	padding-top:50px;
	.about-icon{
		height: 300px;
	}
}



.bar {
	background: url(../images/title-divider-right.png) no-repeat center;
	background-size: 100% auto;
	// padding-top:50px;
	font-family: blueprint;
	height:70px;
	margin: 90px 0px 30px;
	text-align: center;
	color: #000;
	font-size:70px;
	letter-spacing:0.1em;
	font-weight:500;
	line-height:1.2em
}
.bar span {
	margin: 0 auto;
	background:#F2DEB9 url(../images/bg-pattern.png) repeat 0 0;
	padding:0 10px;
}


.award{
	background-color:transparent;
	border:dashed 1px $brand-primary;
	border-radius:0;
}


footer {
	padding: 100px 10px;
	background:#d24d57 url(../images/bg-pattern.png) repeat 0 0;
	margin-top: 40px;
	font-size: 12px;
	color: #000;
}
.foot-title {
	color:#fff;
	font-family:$heading-font;
	font-size:90px;
	letter-spacing:0.2em;
}





