// Header styling -----
.rs-navbar{
	border-bottom:solid 1px  #e64541!important;
	//background:#333 url(../images/bg_header.jpg) repeat-x;
	background: #D64541 url(../images/bg-pattern.png) repeat-x;
	padding:2px 0;
	
	.navbar-brand {
		padding: 16px 20px 14px;
		font-size: 20px;
		font-weight: lighter;
		color: #FFC;
		text-shadow: none;
	}
	.navbar-brand:hover{
		color: #fff;
	}
	.navbar-nav{
		padding-right: 20px;
	}
	.navbar-nav > li > a{
		padding-top:17px;
		padding-bottom:13px;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.navbar-nav > li.active > a{
		background:transparent;
		color: #ff9;
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus,
	.navbar-nav > li.active > a:hover,
	.navbar-nav > li.active > a:focus{
		color: #ff9;
		background:transparent;
	}
}