.rs-navbar{
	// border-bottom:0 !important;
	// background:#333 url(../images/bg_header.jpg) repeat-x;
	background:#d24d57 url(../images/bg-pattern.png) repeat 0 0;
	padding:2px 0;
	border-bottom:solid 1px #c21d17 !important; 

	.navbar-brand {
		padding: 16px 20px 14px;
		font-size: 20px;
		font-weight: lighter;
		color: #FFC;
		text-shadow: none;
	}
	.navbar-brand:hover{
		color: #fff;
	}
	.navbar-nav{
		padding-right: 20px;
	}
	.navbar-nav > li > a{
		padding-top:17px;
		padding-bottom:13px;
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}

	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus{
		color: #ff9
	}
}