.landing-image{
	height: auto;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: auto;
	max-width:100%;
	max-height:87%;
}
.home_box {
	margin-top: 25%;
	padding-right: 55px;
	
	.title {
		font-size: 95px;
		letter-spacing: 0.02em;
		line-height: 0.9em
	}

	.home-action{
		padding-top:30px;
		
		a{	
			padding: 10px 30px;
		 	background-color: rgba(206,51,35, 0.9);
			color: #fff;	 	
			border: solid 1px #CE3323;	
			border-radius:2px;
			margin-right: 20px;
		}
		a:hover{
			background-color: rgba(206,51,35, 1);
		}
	}
}



