.landing-image{
	height: auto;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: auto;
	max-width:100%;
	max-height:87%;
}
.home_box {
	margin-top: 25%;
	padding-right: 55px;
	
	.title {
		font-family: $heading-font;
		font-size: 95px;
		letter-spacing: 0.02em;
		color: $brand-primary;
		line-height: 0.9em
	}

	.home-action{
		padding-top:30px;

		a{
		 	background-color: transparent;
			color: #CE3323;		 	
			border: dashed 1px #CE3323;	
			border-radius:0;
			font-size: 13px;
			font-weight: bolder;
			margin-right: 20px;
		}
		a:hover{
			background-color: #CE3323;
			color: #fff;
		}
	}
}



