
<div class="navbar navbar-fixed-top  ">
  <div class="navbar-inner navbar-inverse">
    <div class="container-fluid"> 
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> 
      <a class="brand" href="/">Ravi Suhag</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li class="active"><a href="/about">About</a></li>
          <li><a href="/work">Work</a></li>
          <li><a href="/lab">Lab</a></li>
          <li><a target="_blank" href="http://rsuhag.wordpress.com">Blog</a></li>
          <li><a href="/connect">Connect</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="jumbotron jumbo_about">
  <div class="container about_masthead">
    <div class="row-fluid">
      <div class="span4"> <img src="/img/RaviSuhag_home.png" alt=""> </div>
      <div class="span7"> <span>THE&nbsp; GEEK</span>
        <p>Hi there i am Ravi Suhag, 23 year old creative geek. I have a very curious path both personally and professionally. I have been good at physics since my childhood, studying and obtaining  B. Tech degree in Electronics and Communication Engineering. After designing embedded systems and  robots for couple of years during my graduation, I decided to learn design and code on my own and have been working as an UI designer and developer since June 2011.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <!--*******About Me Section*********-->
  <div class="row-fluid about_me">
    <div class="span3">
      <h2>User Interface<br> Designer</h2>
      <p>with a passion for designing user centered, clean and functional design. my designs follows structure,simplicity, visibility and reuse. </p>
    </div>
    <div class="span3">
      <h2>Web<br> Developer</h2>
      <p>with experience in developing responsive and device compatible web/mobile sites using HTML5, CSS3, JS, Jquey and modern web frameworks. </p>
    </div><div class="span3">
      <h2>Embedded<br> Developer</h2>
      <p>who love to play with microcontrollers and electronic boards to design custom embedded and robotic systems.  
 </p>
    </div><div class="span3">
      <h2>An<br> Entrepreneur</h2>
      <p>as  founder of Inspiration Edge, an organization which aims at broadening  horizons and unlocking the mental codes of talented youngsters. </p>
    </div>
  </div>
</div>
  <!-- **************Education***************-->
  <div class="row-fluid">
    <div class="span12 bar">
      Experience&nbsp;&nbsp; and &nbsp;&nbsp;Education
    </div>
  </div>
<div class="container">
  <div class="row-fluid">
    <div class="span12 edu">
      <img class="edu_img" src="/img/RaviSuhag_work&education2.png" alt="RaviSuhag_Work&amp;Education">
    </div>
  </div>
</div>
<!-- **************Technology and tools***************-->
  <div class="row-fluid">
    <div class="span12 bar">
      Technology&nbsp;&nbsp; and &nbsp;&nbsp;Tools
    </div>
  </div>
<div class="container">
  <div class="row-fluid skill">
    <div class="span3"><img src="/img/RaviSuhag_Skill_UI.png" alt=""></div>
    <div class="span3"><img src="/img/RaviSuhag_Skill_FE.png" alt=""></div>
    <div class="span3"><img src="/img/RaviSuhag_Skill_BE.png" alt=""></div>
    <div class="span3"><img src="/img/RaviSuhag_Skill_EM.png" alt=""></div>
  </div>
</div>  
<!--************ More About me **************-->
<div class="row-fluid">
    <div class="span12 bar">
      More&nbsp;&nbsp; About&nbsp;&nbsp; me
    </div>
  </div>

<div class="container more_me">
  <div class="row-fluid">
    <div class="span4">
      <h2 class="athlete">Athlete</h2>
      I love to play basketball , Chess, Volleyball and almost any indoor or outdoor game.
    </div>
    <div class="span4">
    <h2 class="learner">Learner</h2>
      The best learning of my life is that i learned how to learn(Quickly).
    </div>
    <div class="span4">
    <h2 class="thinker">Thinker</h2>
      I love to think and try to figure out why things are the way they are.
    </div>  
  </div>
  <br>
  <div class="row-fluid">
    <div class="span4">
    <h2 class="superhero">SuperHero</h2>
      If almighty is going to give me a chance i will choose to be Iron-man or Hulk.
    </div>
    <div class="span4">
    <h2 class="dancer">Dancer</h2>
      I am not michael jackson  but i enjoy dancing and not that bad  actually :) 
    </div>
    <div class="span4">
    <h2 class="movielover">Movie Lover</h2>
      I love watching movies(hollywood !) and got a pretty cool collection of around 2000.
    </div>  
  </div>
</div>



<footer>
Designed and Developed by RAVI SUHAG

<div class="footer_social pull-right">
          <a href="https://www.facebook.com/suhag.ravi" target="_blank"><img src="/img/social/glyphicons_390_facebook.png"/></a>
          <a href="https://twitter.com/Ravi_Suhag" target="_blank"><img src="/img/social/glyphicons_392_twitter.png"/></a>
          <a href="https://plus.google.com/u/0/108278150919455488798" target="_blank"><img src="/img/social/glyphicons_362_google.png"/></a>
          <a href="http://in.linkedin.com/pub/ravi-suhag/32/601/671/" target="_blank"><img src="/img/social/glyphicons_377_linked_in.png"/></a> 
        </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41844210-1', 'ravisuhag.com');
  ga('send', 'pageview');

</script>