<div class="navbar navbar-fixed-top  ">
  <div class="navbar-inner navbar-inverse">
    <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="/">Ravi Suhag</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
          <li ><a href="/work">Work</a></li>
          <li><a href="/lab">Lab</a></li>
          <li><a target="_blank" href="http://rsuhag.wordpress.com">Blog</a></li>
          <li class="active"><a href="/connect">Connect</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row-fluid connect">
    <div class="span6 ">
      <span>Howdy!</span> 
      <div class="commu">
        If you would like to contact me regarding a job or project or even if you just want to say hi, send me a mail and I'll get back to you shortly.
<br><br>
<strong><i class="icon-signal"></i></strong>   +919717860747<br>
<strong><i class="icon-envelope"></i></strong>  suhag.ravi@gmail.com<br>
<strong><i class="icon-map-marker"></i></strong>  Gurgaon, India
      </div>
      <!--<p>Donwload&nbsp;&nbsp; my&nbsp;&nbsp; <a href="">resume</a></p>-->
    <div class="home_social">
          <a href="https://www.facebook.com/suhag.ravi" target="_blank"><img src="/img/social/glyphicons_390_facebook.png"/></a>
          <a href="https://twitter.com/Ravi_Suhag" target="_blank"><img src="public/img/social/glyphicons_392_twitter.png"/></a>
          <a href="https://plus.google.com/u/0/108278150919455488798" target="_blank"><img src="/img/social/glyphicons_362_google.png"/></a>
          <a href="http://in.linkedin.com/pub/ravi-suhag/32/601/671/" target="_blank"><img src="/img/social/glyphicons_377_linked_in.png"/></a>
          <a href="https://github.com/ravisuhag" target="_blank"><img src="/img/social/glyphicons_381_github.png"/></a>
            
        </div>
    </div>
    <div class="span5 offset1">
      <form action="" method="post">
        <fieldset>
          <label> name</label>
          <input class="span9" type="text" name="name" >
          <label>email</label>
          <input class="span9" type="text" name="email_address" >
          <label>message</label>
          <textarea class="span9" type="text" rows="6" name="comments"  ></textarea>
          <br/>
          <button type="submit" >Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>