<div class="container-fluid contact">

	<div class="span12">
		<h1>Get in touch with me...</h1>
		<p>If you would like to contact me regarding a job or project or even if you just want to say hi, send me a mail and I'll get back to you shortly.</p>
		<address>
  			<strong>Ravi Suhag</strong><br>
  			<a href="mailto:#">suhag.ravi@gmail.com</a><br>
  			<strong>Skype ID :</strong> ravisuhag<br>
  			<strong>p :</strong> +919717860747<br>
        Find me on :
  			<a target="_blank" href="http://www.facebook.com/suhag.ravi">Facebook</a>, 
  			<a target="_blank" href="http://www.twitter.com/Ravi_Suhag">Twitter</a>, 
  			<a target="_blank" href="http://in.linkedin.com/pub/ravi-suhag/32/601/671/">Linked in</a>	
		</address>
	</div>
</div>
