#contact
  %form{:method=>"post"}
    %fieldset
      .input
        %label{:for=>"name"} Name
        %input{:name=>"name", :type=>"text", :id=>"name", :class=>('error' if !@errors[:name].nil?), :required=>{}}
      - if !@errors[:name].nil?
        .error
          %p=@errors[:name]
      
      .input
        %label{:for=>"email"} Email Address
        %input{:name=>"email", :type=>"email", :id=>"email", :class=>('error' if !@errors[:email].nil?), :required=>{}}
      - if !@errors[:email].nil?
        .error
          %p=@errors[:email]
      
      .input
        %label{:for=>"message"} Message
        %textarea{:name=>"message", :id=>"message", :rows=>'5', :class=>('error' if !@errors[:message].nil?), :required=>{}}
      - if !@errors[:message].nil?
        .error
          %p=@errors[:message]
      
      #submit.input
        %input{:type=>"submit", :value=>"Send"}