<!--
Notes:  1.Follow button
				2. Social links + qr code
				3. currently working

				google my tweets on facebook to link me in 
-->

<div class="home_container">
	<img class="landing_img" src="/img/rsland.png" alt="Model 1" />	
	<div class="row-fluid">
		<div class="span5 offset6">
			<div class="home_box">	
				<h2 class="title">RAVI SUHAG</h2>	
				<span class="subtitle">	
				Entrepreneur  | Web Designer | Embedded Developer | Innovative Thinker | Creative Doer | Dancer | Basketball | Chess
				</span>
				<div class="home_social">
					<a href=""><img src="/img/social/fb.png"/></a>
					<a href=""><img src="/img/social/tw.png"/></a>
					<a href=""><img src="/img/social/in.png"/></a>
					<a href=""><img src="/img/social/google.png"/></a>		
				</div>
			</div>
		</div>	
	</div>
</div>
<script type="text/javascript">
$(".subtitle,.title").scrambledWriter();
</script>




			