
<div class="reveal">
    <div class="slides"> 
        <section>
        	<img class="" src="/img/RaviSuhag_landing.png" alt="Ravi Suhag">
        </section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
    </div>
</div>
