<div id="sequence-theme" class="dis">
	<div id="sequence">
		<img class="prev" src="images/bt-prev.png" alt="Previous Frame" />
		<img class="next" src="images/bt-next.png" alt="Next Frame" />
		<ul>
			<li class="animate-in">
				<h2 class="title">Ravi Suhag</h2>
				<h3 class="subtitle">i am an Engineer and awesome at one thing dat is LEARNING FAST ...<br/>
				Entrepreneur  | Web Designer | Embedded Developer | Innovative Thinker | Creative Doer | Basketball | Chess 
				</h3>
				<img class="model landingimg" src="/img/RaviSuhag_landing.png" alt="Model 1" />
			</li>
			<li>
				<h2 class="title">UI/UX Designer</h2>
				<h3 class="subtitle">
					Good designers starts from pencil and paper and i am no exception. Because its about <em>User Experience</em> and i don't think there is need to explain why that is important.
				</h3>
				<img class="model" src="/img/RaviSuhag_landing.png" alt="Model 2" />
			</li>
			<li>
				<h2 class="title">CODER</h2>
				<h3 class="subtitle">Coding is an art and i do the same when it ccomes to implementing the design because if you are beautiful inside then you are beaautiful outside.</h3>
				<img class="model" src="/img/RaviSuhag_landing.png" alt="Model 3" />
			</li>
		</ul>
	</div>
	<ul class="nav">
		<li><img src="images/tn-model1.png" alt="Model 1" /></li>
		<li><img src="images/tn-model2.png" alt="Model 2" /></li>
		<li><img src="images/tn-model3.png" alt="Model 3" /></li>
	</ul>
</div>
