
<div class="reveal" >
    <div class="slides" > 
        <section>
        	jdjjfkj
        </section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
    </div>
</div>
