
<div class="reveal">
    <div class="slides"> 
        <section>
        	<div class="container-fluid">
        		<div class="rowfluid">
        			<div class="span12">
        	<img class="landing_img" src="/img/RaviSuhag_landing.png" alt="Ravi Suhag">
        	</div>
</div>
        		</div>
        </section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
    </div>
</div>
