<div class="home_container">
	<img class="landing_img" src="/img/rsland.png" alt="Model 1" />	
	<div class="row-fluid">
		<div class="span5 offset6">
			<div class="home_box">	
				<h2 class="title">RAVI SUHAG</h2>	
				<span class="subtitle">	
				Entrepreneur  | Web Designer | Embedded Developer | Innovative Thinker | Creative Doer | Dancer | Basketball | Chess
				</span>
			</div>
		</div>	
	</div>
</div>
<script type="text/javascript">
$(".subtitle,.title").scrambledWriter();
</script>
			