
  <!-- =====================[ Navbar ]================== -->
  <div class="navbar navbar-fixed-top  ">
   <div class="navbar-inner navbar-inverse">
     <div class="container-fluid">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Ravi Suhag</a>
       <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/lab">Lab</a></li>
            <li><a target="_blank" href="http://rsuhag.wordpress.com">Blog</a></li>
            <li><a href="/connect">Connect</a></li>
          </ul>
        </div
      ></div>
    </div>
  </div>
</div>
<div class="home_container">
	<img class="landing_img" src="/img/RaviSuhag_landing.png" alt="Model 1" />	
	<div class="row-fluid">
		<div class="span5 offset6">
			<div class="home_box">	
				<h2 class="title">RAVI&nbsp;&nbsp; SUHAG</h2>	
				<span class="subtitle">	
				Entrepreneur  | UI/UX Designer | Web Developer | Embedded Developer | Innovative Thinker | Creative Doer | Dancer | Basketball | Chess
				</span>
				<div class="home_social">
					<a href="https://www.facebook.com/suhag.ravi" target="_blank"><img src="/img/social/glyphicons_390_facebook.png"/></a>
					<a href="https://twitter.com/Ravi_Suhag" target="_blank"><img src="/img/social/glyphicons_392_twitter.png"/></a>
					<a href="https://plus.google.com/u/0/108278150919455488798" target="_blank"><img src="/img/social/glyphicons_362_google.png"/></a>
					<a href="http://in.linkedin.com/pub/ravi-suhag/32/601/671/" target="_blank"><img src="/img/social/glyphicons_377_linked_in.png"/></a>		
				</div>
        <br>
         <a href="https://twitter.com/Ravi_Suhag" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @twitter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>	
	</div>
</div>
    <script type="text/javascript">
      $(".subtitle,.title").scrambledWriter();
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41844210-1', 'ravisuhag.com');
  ga('send', 'pageview');

</script>