<div id="sequence-theme" class="dis">
	<div id="sequence">
		<img class="prev" src="images/bt-prev.png" alt="Previous Frame" />
		<img class="next" src="images/bt-next.png" alt="Next Frame" />
		<ul>
			<li class="animate-in">
				<h2 class="title">Web Developer</h2>
				<h3 class="subtitle">hello</h3>
				<img class="model landingimg" src="/img/RaviSuhag_landing.png" alt="Model 1" />
			</li>
			<li>
				<h2 class="title">Creative Control</h2>
				<h3 class="subtitle">Create unique sliders using CSS3 transitions</h3>
				<img class="model" src="images/model2.png" alt="Model 2" />
			</li>
			<li>
				<h2 class="title">Cutting Edge</h2>
				<h3 class="subtitle">Supports modern browsers, old browsers (IE7+), touch devices and responsive designs</h3>
				<img class="model" src="images/model3.png" alt="Model 3" />
			</li>
		</ul>
	</div>
	<ul class="nav">
		<li><img src="images/tn-model1.png" alt="Model 1" /></li>
		<li><img src="images/tn-model2.png" alt="Model 2" /></li>
		<li><img src="images/tn-model3.png" alt="Model 3" /></li>
	</ul>
</div>
