<div class="navbar navbar-fixed-top  ">
  <div class="navbar-inner navbar-inverse">
    <div class="container-fluid"> 
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
      	<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a> 
      <a class="brand" href="/">Ravi Suhag</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
          <li><a href="/work">Work</a></li>
          <li class="active"><a href="/lab">Lab</a></li>
          <li><a target="_blank" href="http://rsuhag.wordpress.com">Blog</a></li>
          <li><a href="/connect">Connect</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row-fluid lab">
    <div class="span12">
    	<img src="/img/SWNE.png">
      <p>
       <span>Woh!</span>&nbsp;&nbsp; Don't&nbsp;&nbsp; touch&nbsp;&nbsp; anything&nbsp;&nbsp; <span>Experiments</span>&nbsp;&nbsp;   are&nbsp;&nbsp; going&nbsp;&nbsp;   on ...
       </p>
    </div>
  </div>
</div>