<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ravi Suhag</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Ravi Suhag Personal Portfolio"/>
    <meta name="author" content="Ravi Suhag"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/theme-responsive.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/texteffect.js"></script>
  </head>
  <body>
    <%= yield %>


  </body>
</html>
