<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>rvs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Ravi Suhag Personal Portfolio"/>
    <meta name="author" content="Ravi Suhag"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="css/sequencejs-theme.modern-slide-in.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ruluko|Sirin+Stencil">
    
    
  </head>
  <body>
  <!-- =====================[ Navbar ]================== -->
  <div class="navbar navbar-fixed-top  ">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">Ravi Suhag</a>
       <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><a href="/personal">Personal</a></li>
            <li><a href="/professional">Professional</a></li>
            <li><a href="#">Lab</a></li>
            <li><a href="#">Social</a> </li>
            <li><a href="#">Connect</a></li>
          </ul>
        </div
      </div>
    </div>
  </div>
</div>
<%= yield %>
<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/application.js"></script>
    <script src="/scripts/sequence.jquery-min.js"></script>
    <script src="/scripts/sequencejs-options.modern-slide-in.js"></script>
</body>
</html>
