<div class="jumbotron personal_jumbo masthead">
  <div class="container">
    <div class="row-fluid"> 
        <div class="span6" style="text-align:left">
            <h3>I'm ravi & I'm a $nerd ...</h3>
            <span>
            I have a very a typical path both personally and professionally.    
            I have been good at physics since my childhood, studying and obtaining a B. Tech degree in Electronics and Communication Engineering. After designing robots for couple of years during my graduation, I decided to learn design and code on my own and have been working as a UI designer and developer since June 2011.</span>
        </div>
        <div class="span6">
            <img src="/img/wireframe.png"/>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(".jumbotron .span6 span").unscramble();
</script>

<!--<div class="jumbotron jumbo1 masthead">
  <div class="container"> 
    <p>So who the hell is Ravi Suhag !</p>
    <br>
    <ul class="masthead-links">
      <li>
        <a href="#">what</a>
      </li>
      <li>
        <a href="work">from when</a>
      </li>
      <li>
        <a href="#">For whom</a>
      </li>
      <li>
        <a href="#">How</a>
      </li>
      <li>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>-->