<div class="container-fluid">
<div class="row-fluid">
	<div class="span12">
	<input type="text"  class="dial" value="65" />
		<script>
		$(".dial").dial({'readOnly':false,'width':170,'thickness':0.05});
		</script>
		</div>
	</div>
</div>

<div class="jumbotron masthead">
  <div class="container"> 
    <p><img src="/img/pirate.png" alt=""><img src="/img/pirate.png" alt=""><img src="/img/pirate.png" alt=""><img src="/img/pirate.png" alt=""> </p>
    <p><!--coding is an art and I do the same--></p>
    <br>
    <ul class="masthead-links">
      <li>
        <a href="#">what</a>
      </li>
      <li>
        <a href="work">from when</a>
      </li>
      <li>
        <a href="#">For whom</a>
      </li>
      <li>
        <a href="#">How</a>
      </li>
      <li>
        <a href="#"></a>
      </li>
    </ul>
  </div>
</div>
