<div class="container prof_masthead">
  <div class="row-fluid">
    <div class="span12">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td align="center">
            <img src="/img/ui_pirate.png" alt="">
          </td>
          <td align="center">
            <img src="/img/web_pirate.png" alt="">
          </td>
          <td align="center">
            <img src="/img/embed_pirate.png" alt="">
          </td>
          <td align="center">
            <img src="/img/entre_pirate.png" alt="">           
          </td>
        </tr>
      </table>     
    </div>
    <div class="row-fluid">
      <div class="span3">
        <span>UI/UX Designer</span>
      </div>
      <div class="span3">
        <span>Web Developer</span>
      </div>
      <div class="span3">
        <span>Embedded Developer</span>
      </div>
      <div class="span3">
        <span>Entrepreneur</span>
      </div>
    </div>
  </div> 
</div>
<hr>
<!-- ******** What i do ********-->
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="green_title">What i do ...</h3>
      People always say its better to be KING of one than being JACK of eveything. well i don't beleive that and i think only because of this attitude even in my four years of graduation i have been a Student, Salesman, Marketing Guy, physics tutor, Embedded trainer, Web Developer and Enterpreur and loved that journey. beacuse its all about learning and doing new thing beacuse that is why we grow and evolve.
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="what_box">
      <div class="span8">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td align="center">
            <img src="/img/wireframe.png" alt="">
          </td>
          <td align="center">
            <img src="/img/color.png" alt="">
          </td>
          <td align="center">
            <img src="/img/web.png" alt="">
          </td>
        </tr>
        <tr>
          <td align="center">
            <img src="/img/like.png" alt="">
          </td>
          <td align="center">
            <img src="/img/robot.png" alt="">
          </td>
          <td align="center">
            <img src="/img/mobile.png" alt="">           
          </td>
        </tr>
      </table>
      </div> 
      <div class="span4">
        <ul>
          <li>User Interface Design</li>
          <li>Web Development</li>
          <li>Facebook App Design </li>
          <li>Social Media</li>
          <li>CMS Development</li>
          <li>Embedded Product Design</li>
          <li>Word Press Theme Design </li>
        </ul>
      </div>
    </div>
  </div>
</div>       
<!-- ******** From When i am doing ********-->
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="green_title">For how long i am doing ...</h3>
      i  started my graduation in 2008 and in same year i stared developing small circuits than moving to embedded products and robotics. i have always been in love with co-curricular activities 
    </div>
  </div>
</div>    

<!-- ******** How i Do ********-->
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="green_title">How i do ...</h3> 
      lorem ipsum is the dummy text. yes it is the dummy text.and i know it will always will be .lorem ipsum is the dummy text. yes it is the dummy text.and i know it will always will be .
    </div>
  </div>
  <!--****************[ Categories :Two block ]****************-->
  <div class="row-fluid">
    <div class="span6">
      <h5>Designinng</h5>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">Photoshop</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 70%"></div>
          </div>
        </div>
      </div>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">Corel Draw</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 50%"></div>
          </div>
        </div>
      </div>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">Illustrator</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 70%"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="span6">
      <h5>Programming</h5>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">HTML/XHTML</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 95%"></div>
          </div>
        </div>
      </div>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">CSS</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 95%"></div>
          </div>
        </div>
      </div>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">Java Script</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 75%"></div>
          </div>
        </div>
      </div>
      <!--skill-->
      <div class="row-fluid">
        <div class="span4">Jquery</div>
        <div class="span8">
          <div class="progress progress-striped">
            <div class="bar" style="width: 70%"></div>
          </div>
        </div>
      </div>


    </div>  

  </div> 
</div>