<div class="jumbotron masthead">
  <div class="container"> 
    <p>coding is an art and I do the same</p>
    <br>
    <ul class="masthead-links">
      <li>
        <a href="#">Things i do</a>
      </li>
      <li>
        <a href="work">For how long i am doing</a>
      </li>
      <li>
        <a href="#">For whom i do/did</a>
      </li>
      <li>
        <a href="#">How i do</a>
      </li>
      <li>
        <a href="#">What i have done</a>
      </li>
    </ul>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>