<div class="container-fluid prof_masthead">
  <div class="span3">
    <img src="/img/ui_pirate.png" alt="">
    <span>UI/UX Designer</span>
  </div>
  <div class="span3">
    <img src="/img/web_pirate.png" alt="">
    <span>Web Developer</span>
  </div>
  <div class="span3">
    <img src="/img/embed_pirate.png" alt="">
    <span>Embedded Developer</span>
  </div>
  <div class="span3">
    <img src="/img/entre_pirate.png" alt="">
    <span>Entrepreneur</span>
  </div>
 
</div>