<div class="container-fluid social_page">
	<div class="span8">
		<ul class="social">
			<li><a target="_blank" href="http://www.facebook.com/suhag.ravi"><img src="/img/social/facebook.png" alt="Facebook" title="Facebook"></a></li>
			<li><a target="_blank "href="http://www.twitter.com/Ravi_Suhag"><img src="/img/social/twitter.png" alt="Twitter" title="Twitter"></a></li>
			<li><a href="http://pinterest.com/ravisuhag " target="_blank"><img  src="/img/social/p.png" alt="Pinterest" title="Pinterest"></a></li>
			<li><a href="https://plus.google.com/u/0/108278150919455488798/posts" target="_blank"><img  src="/img/social/google.png" alt="Google plus" title="Google Plus"></a></li>
			<li><a href="http://dribbble.com/suhag.ravi" target="_blank"><img  src="/img/social/dribble.png" alt="Dribble" title="Dribble"></a></li>
			<li><a href="http://www.stumbleupon.com/stumbler/suhagravi" target="_blank"><img  src="/img/social/stumble.png" alt="Stumble Upon" title="Stumble Upon"></a></li>
			<li><a href="http://rsuhag.wordpress.com/" target="_blank"><img  src="/img/social/wordpress.png" alt="Word Press" title="Word Press"></a></li>
			<li><a href="" target="_blank"><img  src="/img/social/flickr.png" alt="Flickr" title="Flickr"></a></li>
			<li><a href="malito:suhag.ravi@gmail.com" target="_blank"><img  src="/img/social/at.png" alt="Evernote" title="Email"></a></li>
			<li><a href="http://www.behance.net/ravisuhag" target="_blank"><img  src="/img/social/behance.png" alt="Behance" title="Behance"></a></li>
		</ul>
	</div>
	<div class="span4">
		<a class="twitter-timeline" data-dnt=true href="https://twitter.com/Ravi_Suhag" data-widget-id="296192257973960704">Tweets by @Ravi_Suhag</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
</div>

