<div class="jumbotron masthead">
  <div class="container"> 
    <p>coding is an art and I do the same</p>
    <ul class="masthead-links">
      <li>
        <a href="#">Skills</a>
      </li>
      <li>
        <a href="work">Work</a>
      </li>
      <li>
        <a href="#">Process</a>
      </li>
    </ul>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>