<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40569796-1', 'heroku.com');
  ga('send', 'pageview');

</script>
<div class="navbar navbar-fixed-top  ">
  <div class="navbar-inner navbar-inverse">
    <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="/">Ravi Suhag</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
          <li class="active"><a href="/work">Work</a></li>
          <li><a href="/lab">Lab</a></li>
          <li><a target="_blank" href="http://rsuhag.wordpress.com">Blog</a></li>
          <li><a href="/connect">Connect</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="myCarousel" class="carousel slide">
    <div class="row-fluid">
      <div class="span8 offset2">
        <div class="mac_box"> 
                 <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"> <img src="/img/portfolio/Ravi_Suhag_inspark.png"> </div>
            <div class="item"> <img src="/img/portfolio/royal.png"> </div>
            <div class="item"> <img src="/img/portfolio/personal.png"> </div>
            <div class="item"> <img src="/img/portfolio/sd.png"> </div>
            <div class="item"> <img src="/img/portfolio/ecamp.png"> </div>
            <div class="item"> <img src="/img/portfolio/clizmasizba.png"> </div>
          </div>
        </div>
      </div>
      
      <!-- Carousel nav --> 
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>