@import url("http://fonts.googleapis.com/css?family=Armata");

@font-face {
	font-family: 'blueprint';
	src: url(../fonts/BluprintDEMO.otf);
	font-weight: normal;
	font-style: normal;
}
body{
	margin-top:50px;
	background:#F2DEB9 url(../images/bg-pattern.png) repeat 0 0;
	font-family: $body-font;
	color:$brand-dark;
	line-height:1.6em;
}
a, a:hover{
	color:$link-color;
}

h1,h2{
	font-family:$heading-font;
	letter-spacing:0.05em;
	color:$brand-primary;
}
h1{
	font-size:109px;
	margin-bottom:0;
}
h2{
	font-size:48px;
}
h3{
	font-size:25px;
}
h4{
	font-size:22px;
}


.p-t-20{
	padding-top:20px;
}
.p-t-40{
	padding-top:40px;
}