@import url('http://fonts.googleapis.com/css?family=Armata');

@font-face {
	font-family: 'scribblebox';
	src: url(../fonts/scribblebox.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
body{
	margin-top:50px;
	background-image:url(../images/bg-pattern.jpg);
	background-attachment:fixed;
	font-family: 'Armata';
}



