@import url('http://fonts.googleapis.com/css?family=Armata');

@font-face {
	font-family: 'scribblebox';
	src: url(../fonts/scribblebox.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'blueprint';
	src: url(../fonts/BluprintDEMO.otf);
	font-weight: normal;
	font-style: normal;
}
body{
	margin-top:50px;
	background:#F2DEB9 url(../images/bg-pattern.png) repeat 0 0;
	font-family: 'Armata';
	color:#000;
	line-height:1.6em;
	font-size:15px;
}

h2,h1{
	font-family:blueprint;
	letter-spacing:0.05em;
	color: darken(#049372, 7%);
}
h1{
	font-size:109px;
	color:#CE3323;
	margin-bottom:0;
}
h2{
	font-size:50px;
}


