/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top.rs-navbar{role: "navigation"}
	.container-fluid
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{href: "/"}
				Ravi Suhag
		.navbar-collapse.collapse
			%ul.nav.navbar-nav.navbar-right
				%li
					%a{:href => "/about"} About
				%li
					%a{:href => "#"} Work
				%li
					%a.active{:href => "#"} Lab
				%li
					%a.active{:href => "#"} Blog
				%li
					%a{:href => "#"} Connect
