<footer>
    <div class="container">
        <div class="pure-g pure-g--gutter">
            <div class="pure-u pure-u-md-8-24">
                I am available for hire to consult, advise, and develop with passionate product teams across the globe.
            </div>
            <div class="pure-u pure-u-md-8-24">
                I specialise in designing minimal & stunning interfaces, data visualizations, writing scalable and high performance CSS, JavaScript, Node, Python.
            </div>
            <div class="pure-u pure-u-md-8-24">
                <a href="mailto:suhag.ravi@gmail.com" target="_blank" class="button button--grey" href="">Currently considering new projects for 2017</a>
            </div>
        </div>
    </div>
</footer>