<div class="nav">
    <div class="container">
       <%= image_tag "logo.png", :class => 'nav__logo'%>
       <div class="nav__menu">
           <a href="" class="nav__menu__item">About</a>
           <a href="" class="nav__menu__item">Projects</a>
           <a href="" class="nav__menu__item">Blog</a>
           <a href="" class="nav__menu__item">Contact</a>
       </div>
    </div>
</div>