.u-max-width{
    max-width: 100%;
}
.u-pt-50{
    padding-top: 50px;
}
.u-pt-70{
    padding-top: 70px;
}
.u-pt-100{
    padding-top:100px
}
.u-pt-120{
    padding-top:120px
}
.u-pb-20{
    padding-bottom:20px
}
.u-gutter--base{
    padding-right:40px;
}

