// Variables specific to ravisuhag.com
//
// --------------------------------------------------


// Colors
$white:           #fff;
$black:           #000;
$brand-primary:   #CE3323;
$brand-secondary: #037057;
$brand-tertiary:  #f26522;
$brand-light:     #F7F7F7;
$brand-dark:      #000;


// Fonts
$body-font : 'Open Sans';
$heading-font: 'blueprint';