h4{
    margin-bottom:0;
}
a{
    text-decoration: none;
    color: #1D789C
}
a:hover{
    text-decoration: none;
    color: darken(#1D789C, 10%)
}
.heading--jumbo{
    font-size: 2rem;
    line-height: 2.5em;
    color: #333;
}
.heading--small{
    color: #333;
    font-weight: bold;
    display: block;
    letter-spacing: 0.04em
}
.heading--base{
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #333;
    letter-spacing: 0.02em
}
.heading--large{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333;
    display: block
}
.text--large{
    font-size: 1.05rem;
    line-height: 1.4rem;
}
.heading--inline{
    display: inline-block;
}