.banner--micro {
    width: 100%;
    max-width: 100px;
}
.banner--small {
    width: 100%;
    max-width: 150px;
}
.banner--base {
    width: 100%;
    max-width: 350px;
}
.banner--medium {
    width: 100%;
    max-width: 200px;
}
.banner--awards {
    width: 100%;
    max-width: 250px;
    padding: 20px 20px 20px 0;
}

.banner--grayscale{
    filter: grayscale(100%)
}
.banner--project {
    border-radius: 4px
}

.thumbnail--bordered {
    border: solid 1px #E2E2E2
}
.thumbnail--medium {
    max-width: 400px
}
.thumbnail--large {
    max-width: 600px
}
