.button{
    border: solid 1px #ddd;
    background-color: transparent;
    display: inline-block;
    padding: 7px 10px;
    color: inherit;
    margin-top: 15px;
    border-radius: 1px
}
.button:hover{
    border-color: #aaa;
    color: #444;
    
}
.blog__heading{
    display: block;
    font-size: 1.5em;
    margin: 60px 0 20px;
    color: #333;
}
.button--jumbo{
    font-size: 1.1rem;
    padding: 10px 30px;
    border-radius: 2px;
    line-height: 2rem;
}