.button {
    border: solid 1px #aaa;
    background-color: transparent;
    display: inline-block;
    padding: 7px 10px;
    color: #333;
    margin-top: 15px;
    border-radius: 1px
}

.button:hover {
    border-color: #aaa;
    color: #444;
    background-color: #fafafa
}

.button--jumbo {
    font-size: 1.1rem;
    padding: 10px 30px;
    border-radius: 2px;
    line-height: 2rem;
}

.button--grey {
    border-color: #444;
    color: #fff;
    background-color: #444;
    border-radius: 3px
}

.button--grey:hover {
    background-color: #333;
    color: #fff;
}
