<div class="container u-pt-70">
    <div class="pure-g">
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
            <%= image_tag "ravi_suhag.jpg", :class => 'home__banner'%>
        </div>
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
            Ravi Suhag
        </div>
    </div>
</div>