%section.container.about 
	.row
		.col-md-3
			%h2 User Interface<br> Designer
			%P with a passion for designing user centered, clean and functional design. my designs follows structure,simplicity, visibility and reuse.
		.col-md-3 
			%h2 Web<br> Developer
			%P with experience in developing responsive and device compatible web/mobile sites using latest technology and modern web frameworks.
		.col-md-3
			%h2 Embedded<br> Developer
			%P who love to play with microcontrollers and electronic boards to design custom embedded and robotic systems.
		.col-md-3
			%h2 An <br>Entrepreneur
			%P as founder of Inspiration Edge, an organization which aims at broadening horizons and unlocking the mental codes of talented youngsters.