%section.about
	.container
		.row
			.col-md-3.text-center
				=image_tag 'RaviSuhag_home.png', :class=> 'about-icon'
			.col-md-8
				%h1 The Geek
				%p Hi there i am Ravi Suhag, 24 year old creative geek. I have a very curious path both personally and professionally. I have been good at physics since my childhood, studying and obtaining B. Tech degree in Electronics and Communication Engineering. After designing embedded systems and robots for couple of years during my graduation, I decided to learn design and code on my own and have been working as an UI/UX designer and full-stack developer since June 2011.   
				View my 
				= link_to 'Resume', '/resume.html'
				or check out my 
				= link_to 'Work .', '/work.html'
		.row.p-t-40
			.col-md-3
				%h2 User Interface<br> Designer
				%P with a passion for designing user centered, clean and functional design. my designs follows structure, simplicity, visibility and reuse.
			.col-md-3 
				%h2 Web<br> Developer
				%P with experience in developing responsive and device compatible web/mobile sites using latest technology and modern web frameworks.
			.col-md-3
				%h2 Hardware<br> Hacker
				%P who love to play with microcontrollers and electronic boards to design custom embedded and robotic systems.
			.col-md-3
				%h2 An <br>Entrepreneur
				%P as founder of Inspiration Edge, an organization which aims at broadening horizons and unlocking the mental codes of talented youngsters.
		.row.p-t-40
			.col-md-3
				%h2 Athlete
				%P I love to play basketball , Chess, Volleyball and almost any indoor or outdoor game.
			.col-md-3 
				%h2 Learner
				%P The best learning of my life is that i learned how to learn(Quickly).
			.col-md-3
				%h2 Thinker
				%P I love to think and try to figure out why things are the way they are.
			.col-md-3
				%h2 Photographer
				%P A newbie inspired by captured crazy  moments.


%footer.text-center
	.foot-title Learning Hungry Human 
	%ul.list-inline.social
		%li
			= link_to 'Resume', '/resume.html'
		%li 
			%a{:href => "http://in.linkedin.com/in/ravisuhag/", :target=>"blank"} Linkedin
		%li 
			%a{:href => "https://github.com/ravisuhag", :target=>"blank"} Github
		%li 
			%a{:href => "http://www.behance.net/ravisuhag", :target=>"blank"} Behance
		%li 
			%a{:href => "https://twitter.com/Ravi_Suhag", :target=>"blank"} Twitter
		%li 
			%a{:href => "https://www.facebook.com/suhag.ravi", :target=>"blank"} Facebook 
	= link_to 'Get in touch', '/connect.html', :class=> 'btn.btn-lg.btn-default.intouch'















	