%section.about
	.container
		.row
			.col-md-3.text-center
				%img.about-icon{:src => "/assets/images/RaviSuhag_home.png", :alt => ""}/
			.col-md-8
				%h1 The Geek
				%p Hi there i am Ravi Suhag, 24 year old creative geek. I have a very curious path both personally and professionally. I have been good at physics since my childhood, studying and obtaining B. Tech degree in Electronics and Communication Engineering. After designing embedded systems and robots for couple of years during my graduation, I decided to learn design and code on my own and have been working as an UI/UX designer and full-stack developer since June 2011.   
		.row.p-t-60
			.col-md-3
				%h2 User Interface<br> Designer
				%P with a passion for designing user centered, clean and functional design. my designs follows structure,simplicity, visibility and reuse.
			.col-md-3 
				%h2 Web<br> Developer
				%P with experience in developing responsive and device compatible web/mobile sites using latest technology and modern web frameworks.
			.col-md-3
				%h2 Hardware<br> Hacker
				%P who love to play with microcontrollers and electronic boards to design custom embedded and robotic systems.
			.col-md-3
				%h2 An <br>Entrepreneur
				%P as founder of Inspiration Edge, an organization which aims at broadening horizons and unlocking the mental codes of talented youngsters.
		.row.p-t-60
			.col-md-3
				%h2 Athlete
				%P with a passion for designing user centered, clean and functional design. my designs follows structure,simplicity, visibility and reuse.
			.col-md-3 
				%h2 Learner
				%P with experience in developing responsive and device compatible web/mobile sites using latest technology and modern web frameworks.
			.col-md-3
				%h2 Thinker
				%P who love to play with microcontrollers and electronic boards to design custom embedded and robotic systems.
			.col-md-3
				%h2 Photographer
				%P as founder of Inspiration Edge, an organization which aims at broadening horizons and unlocking the mental codes of talented youngsters.



%footer.text-center
	.foot-title LETS CREATE SOMETHING GREAT














-# %section.container 
-# 	.row 
-# 		.col-md-4 
-# 			.bar 
-# 				%span Awards
-# 			%ul 
-# 				%li GSF Hacks Winner
-# 				%li Designathon WInner
-# 				%li Rockstar of Design
-# 				%li Peer Hack Winner
-# 		.col-md-4 
-# 			.bar 
-# 				%span Clients
-# 			%ul 
-# 				%li Harvard University
-# 				%li Info Assembly
-# 				%li Solomo Media
-# 				%li Hoppr
-# 		.col-md-4 
-# 			.bar
-# 				%span Social
-# 			%ul 
-# 				%li Github
-# 				%li Facebook
-# 				%li Twitter
-# 				%li Linked in


-# %section.container-fluid
-# 	.bar
-# 		%span Awards

-# %section.container
-# 	.row
-# 		.col-sm-6.col-md-4
-# 			.thumbnail.award
-# 				.caption
-# 					%h4 GSF Hacks Winner
-# 					%p GSFHacks was organised by GSF Accelerator India on the 19th and 20th of April 2014. 1000 test-takers registered for a pre-screening, 100 finalists were selected to participate in a re-conceptualized, 30-hour event at the Investopad campus in Gurgaon.
-# 		.col-sm-6.col-md-4
-# 			.thumbnail.award
-# 				.caption
-# 					%h4 Rockstar of Design
-# 					%p GSFHacks was organised by GSF Accelerator India on the 19th and 20th of April 2014. 1000 test-takers registered for a pre-screening, 100 finalists were selected to participate in a re-conceptualized, 30-hour event at the Investopad campus in Gurgaon.
-# 		.col-sm-6.col-md-4
-# 			.thumbnail.award
-# 				.caption
-# 					%h4 Designathon Winner
-# 					%p GSFHacks was organised by GSF Accelerator India on the 19th and 20th of April 2014. 1000 test-takers registered for a pre-screening, 100 finalists were selected to participate in a re-conceptualized, 30-hour event at the Investopad campus in Gurgaon.
-# 		.col-sm-6.col-md-4
-# 			.thumbnail.award
-# 				.caption
-# 					%h4 Peer Hacks Winner
-# 					%p GSFHacks was organised by GSF Accelerator India on the 19th and 20th of April 2014. 1000 test-takers registered for a pre-screening, 100 finalists were selected to participate in a re-conceptualized, 30-hour event at the Investopad campus in Gurgaon.















	