%section.about-top
	.container
		.row
			.col-md-4.text-center
				%img{:src => "/assets/images/RaviSuhag_home.png", :alt => ""}/
			.col-md-7
				%h1 The Geek
				%p Hi there i am Ravi Suhag, 23 year old creative geek. I have a very curious path both personally and professionally. I have been good at physics since my childhood, studying and obtaining B. Tech degree in Electronics and Communication Engineering. After designing embedded systems and robots for couple of years during my graduation, I decided to learn design and code on my own and have been working as an UI designer and developer since June 2011. 
%section.container.about 
	.row
		.col-md-3 
			%h2 User Interface<br> Designer
			%P with a passion for designing user centered, clean and functional design. my designs follows structure,simplicity, visibility and reuse.
		.col-md-3 
			%h2 Web<br> Developer
			%P with experience in developing responsive and device compatible web/mobile sites using latest technology and modern web frameworks.
		.col-md-3
			%h2 Embedded<br> Developer
			%P who love to play with microcontrollers and electronic boards to design custom embedded and robotic systems.
		.col-md-3
			%h2 An <br>Entrepreneur
			%P as founder of Inspiration Edge, an organization which aims at broadening horizons and unlocking the mental codes of talented youngsters.













