%script{async: "", src: "https://static.medium.com/embed.js"}
.container.p-t-40
	.row
		.col-sm-6.col-md-4
			.thumbnail.blog
				%a.m-story{"data-collapsed" => "false","data-border"=>"false","data-width"=>"100%", href: "https://medium.com/@ravi_suhag/building-tech-startup-team-9d7294bd43fe"} 
					Building Tech Startup Team
		
		


