<div class="container">
  <div class="pure-g u-pt-120">
    <div class="pure-u pure-u-md-18-24 pure-u-sm-24-24 about__awards">
      <div class="heading--jumbo">Blog</div>
      <a target="_blank" class="blog__heading" href="https://medium.com/@ravisuhag/techie-heart-vs-entrepreneurial-mind-ac9caec6a9c8#.hc6eyqtwv">Techie heart vs Entrepreneurial mind</a>
      <p>10th August 2014, I was in the process of evaluating tech stack for my next project. For last few projects I used MEAN stack , most recent being Resumite and I loved working on Express and Angular but now it was time to move on, as future of both was very doubtful.
      5:00 am in the morning and I found myself diving in the world of Isomorphic JS with React, flux and what not. Being a JS lover, I am fascinated with future of isomorphic/universal era of the web.
      </p>
      <a target="_blank" href="https://medium.com/@ravisuhag/techie-heart-vs-entrepreneurial-mind-ac9caec6a9c8#.hc6eyqtwv" class="button">Read more &#8674;</a>
      
      <a target="_blank" class="blog__heading" href="https://medium.com/@ravisuhag/most-common-and-effective-web-vulnerabilities-fa4f24af0950#.m2evs7z4z">Vulnerable Web</a>
      <p>Security is a vital part of web development. But since it may often be complex many developers does not include that in their learning curves. Result of which new web applications do not normally include any protection and become ripe targets for hackers (malicious or otherwise).</p>
      <a target="_blank" href="https://medium.com/@ravisuhag/most-common-and-effective-web-vulnerabilities-fa4f24af0950#.m2evs7z4z" class="button">Read more &#8674;</a>
      
      <a target="_blank" class="blog__heading" href="https://medium.com/@ravisuhag/sequoiahack-2014-winning-the-hack-marathon-7ffaaecb7e67#.eb3mq646v">SequoiaHack :: 2014 -Winning the hack marathon</a>
      <p>By now I have participated in 11 Hackathons and won 8 out of them. All were amazing, but SequoiaHack was just way out of the league, an experience which I will never forget. Sequoia::Hack is the annual hackathon organized by Sequoia Capital in India.</p>
      <a target="_blank" href="https://medium.com/@ravisuhag/sequoiahack-2014-winning-the-hack-marathon-7ffaaecb7e67#.eb3mq646v" class="button">Read more &#8674;</a>
      
      <a target="_blank" class="blog__heading" href="https://medium.com/@ravisuhag/follow-schema-for-mongo-db-ffcf83439c91#.sx1bgk7kr">Follow Action Schema for Mongo DB</a>
      <p>This has been asked so many times on stack overflow and other tech blogs. And many already have implemented this very effectively. Just consider it YASS “Yet Another Schema Solution”.</p>
      <a target="_blank" href="https://medium.com/@ravisuhag/follow-schema-for-mongo-db-ffcf83439c91#.sx1bgk7kr" class="button">Read more &#8674;</a>
      
      <a target="_blank" class="blog__heading" href="https://medium.com/@ravisuhag/building-tech-startup-team-9d7294bd43fe#.5lwf6qp2d">Building Tech Startup Team</a>
      <p>Building tech team for a technology startup is the biggest challenge. Founders are always confused about what kind of and how many geeks they should hire to build an amazing and lean team. There is always a war between domain expert, full stack and hipster</p>
      <a target="_blank" href="https://medium.com/@ravisuhag/building-tech-startup-team-9d7294bd43fe#.5lwf6qp2d" class="button">Read more &#8674;</a>
    </div>
  </div>
</div>
<%= partial 'partials/footer' %>
