.container.p-t-40
	%h1 Howdy ...
	%p If you would like to contact me regarding a job or project or even if you just want to say hi, send me a mail and I'll get back to you shortly.
	.address
		%strong 
			%span.glyphicon.glyphicon-star
			suhag.ravi@gmail.com<br>
		%strong 
			%span.glyphicon.glyphicon-star
			ravi@inspirationedge.com<br>
		%strong 
			%span.glyphicon.glyphicon-star
			9717860747<br>
		%strong 
			%span.glyphicon.glyphicon-star
			Gurgaon, India
	.row.p-t-40 
		.col-md-4
			.dashed-box
				%h2 Contact me for
				%ul
					%li Consulting, Speaking and Workshops 
					%li UI/UX Design
					%li Web Development
					%li Data Visualization
					%li Discussing Best Practices
					%li Anthing related to virtual reality, internet of things.
		.col-md-4
			.dashed-box
				%h2 Do not contact me if
				%ul
					%li Looking for a quick website.
					%li Want to support IE7.
					%li Don't believe in FOSS.
					%li About providing services. 
		.col-md-4
			.dashed-box
				%h2 Where to find me
				%ul 
					%li 
						= link_to 'Resume', '/resume.html'
					%li 
						%a{:href => "http://in.linkedin.com/in/ravisuhag/", :target=>"blank"} Linkedin
					%li 
						%a{:href => "https://github.com/ravisuhag", :target=>"blank"} Github
					%li 
						%a{:href => "http://www.behance.net/ravisuhag", :target=>"blank"} Behance
					%li 
						%a{:href => "https://twitter.com/Ravi_Suhag", :target=>"blank"} Twitter
					%li 
						%a{:href => "https://www.facebook.com/suhag.ravi", :target=>"blank"} Facebook


%footer.text-center
	.foot-title LETS CREATE SOMETHING GREAT
	%p <br>This site is built with the help of Middleman, Photoshop, SASS and source code is available on github.
