<div class="container  u-pt-70">
  <div class="pure-g">
    <div class="pure-u pure-u-md-16-24 pure-u-sm-24-24">
      <div class="heading--jumbo">Howdy ...</div>
      <p>I am open to interesting consulting gigs, short or long term contracts, workshops and any exciting projects working with nice human beings. If you think you have something we can work together on, then get in touch.</p>
      <p>Please note that I get a lot of email, so it may take me a while to get back to you. I do try and reply to everyone, no matter how long it might take.</p>
      <p>If I do seem to be taking a while to respond, please feel free to send me a follow-up email to remind to rpely, that certainly won't offend me.</p>
    </div>
  </div>
  <div class="connect_address">
    Email: <a href="mailto:suhag.ravi@gmail.com">suhag.ravi@gmail.com</a>
  </div>
  <div class="connect_address">
    Phone: +919717860747
  </div>
 
  <div class="connect__links">
    <a  target="_blank" href="http://www.github.com/ravisuhag">Github</a> 
    <a  target="_blank" href="http://www.behance.com/ravisuhag">Behance</a> 
    <a  target="_blank" href="http://www.twitter.com/Ravi_Suhag">Twitter</a>
    <a  target="_blank" href="http://www.instagram.com/ravisuhag">Instagram</a>
    <a  target="_blank" href="http://www.medium.com/@ravisuhag">Medium</a> 
    <a  target="_blank" href="http://www.angel.co/ravisuhag">Angel List</a> 
    <a target="_blank" href="https://www.linkedin.com/in/ravisuhag">LinkedIn</a>
  </div>
</div>
