=image_tag 'RaviSuhag_landing.png', :class=> 'landing-image'
.container-fluid
	.row
		.col-md-5.col-md-offset-6
			.home_box
				%h1.title  
					RAVI&nbsp;&nbsp; SUHAG
				%span
					I am an award-winning <strong>web architect</strong>, <strong>designer</strong>, <strong>developer</strong>, <strong>hardware hacker</strong> and <strong>entrepreneur</strong> from India. I help people build great products.
				.home-action
					= link_to 'Check My Work', '/work.html', :class => 'btn btn-default btn-lg'