<div class="container u-pt-70">
    <div class="pure-g">
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24">
            <%= image_tag "spiral.jpeg", :class => 'home__banner'%>
        </div>
        <div class="pure-u pure-u-md-14-24 pure-u-sm-24-24">
            <p class="heading--large">Hello, welcome to my little space on the web!</p>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <p>Have fun in browsing and thank you for visiting!</p>
        </div>
    </div>
    <!-- Projects -->
    <div class="pure-g u-pt-120">
        <div class="pure-u pure-u-md-12-24 pure-u-sm-24-24 u-padding-10">
            <div class="heading--base">Projects</div>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <a href="#">Go to projects page</a>
        </div>
        <div class="pure-u pure-u-md-2-24 pure-u-sm-24-24">
        </div>
        <div class="pure-u pure-u-md-10-24 pure-u-sm-24-24 ">
            <br><br>
            <%= image_tag "work.png", :class => 'u-max-width'%>
        </div>
    </div>
    <!-- Brief -->
    <div class="pure-g u-pt-120">
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter-10 u-pb-20">
            <div class="heading--base">Services</div>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <a href="#">Go to services page</a>
        </div>
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter-10 u-pb-20">
            <div class="heading--base">Blog</div>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <a href="#">Visit my medium blog</a>
        </div>
        <div class="pure-u pure-u-md-8-24 pure-u-sm-24-24 u-gutter-10 u-pb-20">
            <div class="heading--base">Contact</div>
            <p>Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.</p>
            <a href="#">Say hi to me</a>
        </div>
    </div>
</div>
<footer></footer>