%img.landing-image{:src => "/assets/images/RaviSuhag_landing.png", :alt => ""}/ 
.container-fluid
	.row
		.col-md-5.col-md-offset-6
			.home_box
				%h2.title  
					RAVI&nbsp;&nbsp; SUHAG
				-# %ul 
				-# 	%li Tech Consultant
				-# 	%li Hacker, Embedded, Robotics
				-# 	%li UI/UX Designer
				-# 	%li Entrepreneur, tinkerer, instigator
				%span.subtitle	
					I am an award-winning <strong>web architect</strong>, <strong>designer</strong>, <strong>developer</strong>, <strong>maker</strong> and <strong>entrepreneur</strong> from India. I help people build great products and avaliable for <strong>Hire</strong> .
					-# Entrepreneur  | UI/UX Designer | Web Developer | Embedded Developer | Innovative Thinker | Creative Doer | Dancer | Basketball | Chess
				.home-action
					%a.btn.btn-default{:href => ""} Check my work 
					%a.btn.btn-default{:href => ""} More about me
