%img.landing-image{:src => "/assets/images/RaviSuhag_landing.png", :alt => ""}/ 
.container-fluid
	.row
		.col-md-5.col-md-offset-6
			.home_box
				.title  
					RAVI&nbsp;&nbsp; SUHAG
				%span
					I am an award-winning <strong>web architect</strong>, <strong>designer</strong>, <strong>developer</strong>, <strong>hardware hacker</strong> and <strong>entrepreneur</strong> from India. I help people build great products and avaliable for <strong>Hire</strong>.
				.home-action
					%a.btn.btn-default{:href => ""} About 
					%a.btn.btn-default{:href => ""} Portfolio
