<div class="container">
  <div class="pure-g u-pt-120">
    <div class="pure-u pure-u-md-18-24 pure-u-sm-24-24 group">
      <div class="heading heading--jumbo">Blog</div>
      <a target="_blank" class="heading heading--wide" href="https://medium.com/@ravisuhag/techie-heart-vs-entrepreneurial-mind-ac9caec6a9c8#.hc6eyqtwv">Techie heart vs Entrepreneurial mind</a>
      <p>10th August 2014, I was in the process of evaluating tech stack for my next project. For last few projects I used MEAN stack , most recent being Resumite and I loved working on Express and Angular but now it was time to move on, as future of both was very doubtful.
      5:00 am in the morning and I found myself diving in the world of Isomorphic JS with React, flux and what not. Being a JS lover, I am fascinated with future of isomorphic/universal era of the web.
      </p>
      <a target="_blank" href="https://medium.com/@ravisuhag/techie-heart-vs-entrepreneurial-mind-ac9caec6a9c8#.hc6eyqtwv" class="button">Read more &#8674;</a>
    </div>
  </div>
</div>