.container.resume
	%h1.heading.text-center
		%span.title Ravi Suhag
		%span.subtitle suahg.ravi@gmail.com • 9717860747
		%span.subtitle Gurgaon, India
	%section.row
		.col-md-3
			%h3 Profile
		.col-md-9
			.border
				%p Though I've worked in multiple disciplines, my expertise lies in front-end development and interaction design. I have a passion for solving problems, constantly perfecting my craft, and producing work that I can be proud of. I'm currently available for  projects small or large, so if you're interested in hiring me, check out
				%a{:href=> ""} my work
				and let's
				%a{:href=> ""} get in touch

	%section.row
		.col-md-3
			%h3 Work Experience
		.col-md-9
			.position
				%h4 
					ethicalDeal
					%span.subtitle Front-End Developer | Jan 2013 - Present
				%p Designed and developed the entire front-end of ethicalDeal's jQuery Mobile website. Collaborated with developers and product managers to introduce new functionality across the CakePHP website as well as Wordpress blog.
			
			.position
				%h4 
					Foodsters Restaurant Delivery
					%span.subtitle Designer & Developer | Jan 2012 - Jan 2013
				%p Responsible for entire web/branding strategy for Foodster's Restaurant Delivery. Designed, developed, and relaunched current responsive website focused on user interaction on all mobile platforms.
			
			.position
				%h4 
					FutureShop.ca
					%span.subtitle Graphical User Interface Designer | Feb 2009 - Dec 2009
				%p Responsible for designing and developing the splash page of Futureshop.ca on a weekly basis. With over 300,000 daily hits, abided by a strict and thorough proofing process. Worked at length with art directors, business managers, and marketers to ensure peak sales of online products.
			
			.position
				%h4 
					University of British Columbia
					%span.subtitle Marketing Assistant | Jan 2010 - Sept 2010
				%p Produced marketing materials for web, video, and print, for all departments under the Faculty of Education umbrella.
			
			.position
				%h4 
					Freelance + Consultancy Services
					%span.subtitle Wordpress Developer | Feb 2008 - Present
				%p Worked with several local agencies includin to develop dozens of custom Wordpress solutions for their clients. From slushie trucks to marketing agencies we've done it all, providing clients an easy-to-use CMS for all their updating needs.



