.container.resume
	%h1.heading.text-center
		%span.title Ravi Suhag
		%span.subtitle suhag.ravi@gmail.com • 9717860747
		%span.subtitle Gurgaon, India
	%section.row
		.col-md-3
			%h3 Profile
		.col-md-9
			.border
				%p 
					In Last three years of my experience i've worked in multiple disciplines including UI/UX Design, Front End Development and Backend Developement. I have a passion for solving problems, clean & elegant design, and producing work that I can be proud of. I'm currently available for small or large projects, so if you're interested in hiring me, check out
					%a{:href=> ""} my work
					and let's
					%a{:href=> ""} get in touch

	%section.row
		.col-md-3
			%h3 Work <br>Experience
		.col-md-9
			.border
				.position
					%h4 
						Harvard University
						%span.subtitle UI/UX and Data Visualisation Specialist | April 2014 - Present
					%p Responsible for design and develop visualizations of key NREGA outcomes that will be accessible to online users within and outside of NREGA, Collaborate closely with the NREGA MIS team, NIC, and EPoD to ensure that production goals are agreed upon and advanced in a timely manner, train selected MoRD officials in the use of data visualization, possibly through the creation of an online data visualization demonstration.
				
				.position
					%h4 
						Info Assembly
						%span.subtitle Front End Architect | May 2013 - Nov 2013
					%p Responsible for designing architecture for Big Data web platform on MEAN Stack, choosing design 	patterns and libraries that help with the above and increase development velocity, UI/UX, FrontEnd and Backend Development and lead the development team to ensure best practices are followed. Worked extensively on big data 	visualisation.
				
				.position
					%h4 
						Design and Code Ninja
						%span.subtitle Solomo Media | Feb 2009 - Dec 2009
					%p Responsible for designing and developing faceboo.
				
				.position
					%h4 
						Front End Developer
						%span.subtitle hoppr | Aug 2012 - May 2013
					%p Produced marketing materials for web, video, and print, for all departments under the Faculty of 	Education umbrella.
				
				.position
					%h4 
						Freelance + Consultancy Services
						%span.subtitle Wordpress Developer | Feb 2008 - Present
					%p Worked with several local agencies includin to develop dozens of custom Wordpress solutions for their 	clients. From slushie trucks to marketing agencies we've done it all, providing clients an easy-to-use CMS 	for all their updating needs.
	%section.row
		.col-md-3
			%h3 Education
		.col-md-9
			.border
				.position
					%h4
						KIIT College of Engineering
						%span.subtitle B.Sc - Interactive Arts & Technology Major - 2011
					%p Solid understanding of design principles. Proficient with human computer interaction, usability 	testing, and prototyping.
				.position
					%h4
						R.E.D School
						%span.subtitle Foundation Visual Art & Design - Diploma - 2005
					%p Immersed in a full year of new media and art history study.

	%section.technical.row
		.col-md-3
			%h3 Technical <br>Expertise
		.col-md-9
			.border
				.row
					.col-md-4.alpha.text-left
						%h4 Professional Skillset
						%ul
							%li W3C Validated HTML5
							%li CSS3 via SASS & Compass, LESS
							%li jQuery, ajax, modernizr
							%li Wordpress theme development
							%li Website optimization
							%li SEO
					.col-md-4.working-knowledge.text-left
						%h4 Working Knowledge
						%ul
							%li MVC frameworks
							%li Modular javascript
					.col-md-4.omega.text-left
						%h4 Tools
						%ul
							%li SublimeText 2
							%li Github
							%li Adobe Creative Suite
							%li Axure & OmniGraffle
							%li Stack Overflow

	%section.awards.row
		.col-md-3
			%h3 Awards & Recognition
		.col-md-9
			.border.bordero
				%ul
					%li Awwwards - Publication - 2013 The Best 365 Websites around the World - 2013
					%li Awwwards - Site of the Day - 2013
					%li CSS Based - Feature Spread - 2013
					%li CSSMania - Feature Spread - 2013
					%li OnePageMania - Feature Spread - 2013
					%li Art-Spire - Feature Spread - 2013
					%li CIRA Showusyour.ca Video Contest - Grand Prize - 2010
					%li SFU Co-op Video Contest - Grand Prize - 2009
					%li TD Money Lounge Video Contest - Grand Prize - 2009
					%li VFS Entrance Scholarship - 2005



%footer.text-center
	.foot-title LETS CREATE SOMETHING GREAT
	%ul.list-inline.social
		%li 
			%a{:href => ""} Resume
		%li 
			%a{:href => ""} Linkedin
		%li 
			%a{:href => ""} Github
		%li 
			%a{:href => ""} Behance
		%li 
			%a{:href => ""} Twitter
		%li 
			%a{:href => ""} Facebook 
	%a.btn.btn-lg.btn-default.intouch{:href => ""} Get in touch 