.container.resume
	%h1.heading.text-center
		%span.title Ravi Suhag
		%span.subtitle suhag.ravi@gmail.com • 9717860747
		%span.subtitle Gurgaon, India
	%section.row
		.col-md-3
			%h3 Profile
		.col-md-9
			.border
				%p 
					In last three years of my experience i've worked in multiple disciplines including UI/UX Design, Front End Development and Backend Developement. I have a passion for solving problems, clean & elegant design, and producing work that I can be proud of. I'm currently available for small or large projects, so if you're interested in hiring me, check out
					= link_to 'my work', '/work.html'
					and let's
					= link_to 'get in touch .', '/connect.html'

	%section.row
		.col-md-3
			%h3 Work <br>Experience
		.col-md-9
			.border
				.position
					%h4 
						Harvard University
						%span.subtitle UI/UX and Data Visualisation Specialist | April 2014 - Present
					%p Responsible for design and develop visualizations of key NREGA outcomes that will be accessible to online users within and outside of NREGA, Collaborate closely with the NREGA MIS team, NIC, and EPoD to ensure that production goals are agreed upon and advanced in a timely manner, train selected MoRD officials in the use of data visualization, possibly through the creation of an online data visualization demonstration.
				
				.position
					%h4 
						Info Assembly
						%span.subtitle Front End Architect | May 2013 - Nov 2013
					%p Responsible for designing architecture for Big Data web platform on MEAN Stack, choosing design	patterns and libraries that help with the above and increase development velocity, UI/UX, FrontEnd and Backend Development and lead the development team to ensure best practices are followed. Worked extensively on big data 	visualisation.
				
				.position
					%h4 
						Solomo Media
						%span.subtitle  Design and Code Ninja | Feb 2009 - Dec 2009
					%p Responsible for designing and developing social apps, web and mobile sites. Worked with big clients like Videocon, Times.
				
				.position
					%h4 
						hoppr 
						%span.subtitle Front End Developer | Aug 2012 - May 2013
					%p Worked on developing user interface for the location based service platform. Built mobile web apps compatible with low end mobile phones to modern smartphones.
				
				.position
					%h4 
						Freelance + Consultancy Services
						%span.subtitle Designer & Developer | Feb 2008 - Present
					%p Worked with several startups and big companies including Indiamart, Whiteink, NicNames, Giveaway to design and develop web platfroms.
	%section.row
		.col-md-3
			%h3 Education
		.col-md-9
			.border
				.position
					%h4
						KIIT College of Engineering
						%span.subtitle B.Tech, Electronics | 2008 - 2012
					%p Embedded System Design, Robotics, Comuter Architecture, Human Computer Interaction
				.position
					%h4
						R.E.D School
						%span.subtitle Science | 2007
					%p Learned the basics of life and education.

	%section.technical.row
		.col-md-3
			%h3 Technical <br>Expertise
		.col-md-9
			.border
				.row
					.col-md-4.alpha.text-left
						%h4 Design Skillset
						%ul
							%li User Interface Design
							%li User Experience Design
							%li Interaction Design
							%li Product Design
							%li Data and Visualization Design 
					.col-md-4.working-knowledge.text-left
						%h4 Development Skillset
						%ul
							%li MVC frameworks
							%li Javascript, NodeJS, Python, Ruby
							%li AngularJS, D3JS, Sigma
							%li SailsJS, Ruby on Rails, Scrapy
							%li SASS, LESS, Grunt, Yeoman, Bower						
							%li MongoDB, Redis
							%li Middleman, Jekyll
					.col-md-4.omega.text-left
						%h4 Tools
						%ul
							%li Apple MacBook Retina 
							%li SublimeText 3 and WebStorm
							%li Github
							%li iTerm
							%li Adobe Creative Suite
							%li Evernote, Dropbox, Trello

	%section.awards.row
		.col-md-3
			%h3 Awards & Recognition
		.col-md-9
			.border.bordero
				.position
					%h4 
						Hack Health On Runner up
						%span.subtitle Embassy Of The Kingdom Of The Netherlands | June 2015
					%p In this hackathon we worked on preventive healthcare an in-app diagnosis application "Charak" and being the finalist pitched to Prime Minister of Netherlands (Mr. Mark Rutte) and Health Minister of India (Mr. JP Nadda )
				.position
					%h4 
						Startup Weekend Delhi 2015 Winner
						%span.subtitle UP Global | May 2015
					%p Startup Weekend India Delhi NCR Innovators Edition was organised by Startup weekend in which i built Festfolio - Marketplace for event sponsorship. http://www.up.co/communities/india/delhi/startup-weekend/6104
				.position
					%h4 
						Sequoia Hack 2014 Winner
						%span.subtitle Sequoia Capital | September 2014
					%p Won Analytics track of Sequoia :: Hack (Biggest Hackathon of India) in which i built an IOT interfaced data analytics and visualisation platform named it REFLEX. Technologies Used : MEAN Stack, D3, Johnny five. www.sequoiahack.com

				.position
					%h4 
						Angel Hack 2014 Winner
						%span.subtitle Angel Hack | June 2014
					%p Winner of the Delhi edition of AngelHack Global hackathon 2014. Built Growth Hacking app with the help of NodeJs, Python, Angular, Mongo, D3JS. Check out more about AngelHack here : http://www.angelhack.com/
				.position
					%h4 
						GSF Hacks Winner
						%span.subtitle GSF India | April 2014
					%p GSFHacks was organised by GSF Accelerator India on the 19th and 20th of April 2014. 1000 test-takers registered for a pre-screening, 100 finalists were selected to participate in a re-conceptualized, 30-hour event at the Investopad campus in Gurgaon. In this event we worked on IndiaMART Challenge for creating "Advanced autocorrection and NLP based searching tool to get desirable products from e-commerce catalogs". We won the event in first place for the category. <br>Technology Used: C++, NodeJS, AngularJS, NodeGyp

				.position
					%h4 
						THE ROCKSTAR OF DESIGN
						%span.subtitle Directi (Big Rock) | Jan 2014
					%p The Rockstar of Design (http://rockstarofdesign.net/) was the Biggest design contest ever in india organised by BIG ROCK (http://www.bigrock.in). Task was to redesign and develop responsive website for Big Rock (http://bigrock.in). I won the event in first place with two titles : "The Rockstar of Design" and "People's Rockstar of Design"

				.position
					%h4 
						Times Designathon Winner
						%span.subtitle Times Internet | Oct 2013
					%p Designathon was a hackathon for designers. It was an attempt to promote design thinking among aspiring designers to build the next wave of world-class Indian products. An initiative by TLabs, one of India's premier startup accelerators. - See more http://www.designathon.co/ and www.tlabs.in. We got a design problem from digital product company for their live product to solve in 20 hours. We won the competition in "First Place"

				.position
					%h4 
						PeerHack Hackathon Winner
						%span.subtitle Peer Hack | July 2013
					%p Won PeerHack Ignite Hackathon organized by Peer hack Ignite and Knowlarity Communication. Worked on a social Product. Technology Used : Ruby on Rails, HTML 5 , Android , Cloud Telephony , Heroku






%footer.text-center
	.foot-title LETS CREATE SOMETHING GREAT
	%ul.list-inline.social
		%li 
			= link_to 'Resume', '/resume.html'
		%li 
			%a{:href => "http://in.linkedin.com/in/ravisuhag/", :target=>"blank"} Linkedin
		%li 
			%a{:href => "https://github.com/ravisuhag", :target=>"blank"} Github
		%li 
			%a{:href => "http://www.behance.net/ravisuhag", :target=>"blank"} Behance
		%li 
			%a{:href => "https://twitter.com/Ravi_Suhag", :target=>"blank"} Twitter
		%li 
			%a{:href => "https://www.facebook.com/suhag.ravi", :target=>"blank"} Facebook 
	= link_to 'Get in touch', '/connect.html', :class=> 'btn btn-lg btn-default intouch'

