.container.p-t-40.work-grid
	.row
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/connx.png", :alt => ""}/ 
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/2.png", :alt => ""}/ 
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/3.jpeg", :alt => ""}/ 
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/4.png", :alt => ""}/ 		
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/5.png", :alt => ""}/ 
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/6.png", :alt => ""}/ 
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	

%footer.text-center
	.foot-title Making web a better place
	%ul.list-inline.social
		%li 
			%a{:href => "/resume"} Resume
		%li 
			%a{:href => "http://in.linkedin.com/in/ravisuhag/", :target=>"blank"} Linkedin
		%li 
			%a{:href => "https://github.com/ravisuhag", :target=>"blank"} Github
		%li 
			%a{:href => "http://www.behance.net/ravisuhag", :target=>"blank"} Behance
		%li 
			%a{:href => "https://twitter.com/Ravi_Suhag", :target=>"blank"} Twitter
		%li 
			%a{:href => "https://www.facebook.com/suhag.ravi", :target=>"blank"} Facebook 
	%a.btn.btn-lg.btn-default.intouch{:href => "/connect"} Get in touch 


