.container.p-t-40.work-grid
	.row
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/connx.png", :alt => ""}/ 
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/2.png", :alt => ""}/ 
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/3.jpeg", :alt => ""}/ 
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/4.png", :alt => ""}/ 		
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/5.png", :alt => ""}/ 
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				%img{:src => "/assets/images/work/6.png", :alt => ""}/ 
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	



