.container.p-t-40.work-grid
	.row
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				=image_tag 'connx.png'
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				=image_tag '2.png' 
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				=image_tag '3.png'
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				=image_tag '4.png'		
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				=image_tag '5.png'
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	
		.col-sm-4.col-md-3
			%a.thumbnail{:href => "#"}
				=image_tag '6.png'
				%p  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
				.clearfix
	

%footer.text-center
	.foot-title Making web a better place
	%ul.list-inline.social
		%li 
			= link_to 'Resume', '/resume.html'
		%li 
			%a{:href => "http://in.linkedin.com/in/ravisuhag/", :target=>"blank"} Linkedin
		%li 
			%a{:href => "https://github.com/ravisuhag", :target=>"blank"} Github
		%li 
			%a{:href => "http://www.behance.net/ravisuhag", :target=>"blank"} Behance
		%li 
			%a{:href => "https://twitter.com/Ravi_Suhag", :target=>"blank"} Twitter
		%li 
			%a{:href => "https://www.facebook.com/suhag.ravi", :target=>"blank"} Facebook 
	= link_to 'Get in touch', '/connect.html', :class=> 'btn.btn-lg.btn-default.intouch'


