@media (prefers-color-scheme: dark) {
	.shiki,
	.shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
	}
}

/* Code blocks */
pre {
	font-size: 0.9em;
	line-height: 1.7;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border: solid 1px #eee;
	border-radius: 0.3em;
	/* background: #fdfeff; */
	/* font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace; */
}
