:root {
  --body_color: rgb(58, 58, 58);
  --heading_color: #000;
  --link_color: #2a44d7;
  --link_hover: #2a45de;
  --type_italic: "Newsreader", serif;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--body_color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  font-family: "Inter", sans-serif;
  font-feature-settings: "kern", "frac", "kern", "ss02";
  font-smooth: always;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--link_color);
  text-decoration: none;
}

a:hover {
  color: var(--link_hover);
}

a:hover h4 {
  color: var(--link_color);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/**********  LAYOUT  **********/
.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
}

.main {
  padding: 3rem 0;
}

ul {
  padding-left: 25px;
  list-style-type: square;
}

li {
  line-height: 1.8em;
}

/**********  TYPOGRAPHY  **********/

h1 {
  color: var(--heading_color);
  font-weight: normal;
  font-size: 32px;
}

h2 {
  color: var(--heading_color);
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  color: var(--heading_color);
  font-weight: 500;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0.3rem;
  color: var(--heading_color);
  font-weight: 500;
}

h5 {
  font-size: 15px;
  margin-top: 0.3rem;
  color: #666;
  font-weight: normal;
}

h4 + p {
  margin-top: 5px;
}

i {
  font-family: var(--type_italic);
  font-size: 1.1em;
}

/**********  HEADER  **********/

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--heading_color);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.navbar {
  text-align: right;
  float: right;
}

.navbar a {
  display: inline-block;
  margin-left: 40px;
  color: #444;
}

.header a:hover {
  color: var(--link_color);
}

.navbar .active {
  color: var(--link_color);
}

/**********  HOME  **********/
.signature {
  display: block;
  padding-top: 30px;
  width: 80px;
}

/**********  WORK  **********/
.work h4 {
  margin-top: 40px;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.work h5 {
  margin-top: 0.1rem;
  margin-bottom: 0.3rem;
  color: #000;
  font-size: 13px;
}

/**********  LIST  **********/
.list {
  margin-top: 30px;
}

.list__title {
  color: var(--heading_color);
  margin-bottom: 0;
}

.list__sub,
.list__date {
  color: var(--body_color);
}

.list__date {
  padding-top: 2px;
  font-size: 13px;
  line-height: 28px;
}

/**********  POST  **********/
.bullet__list {
  padding-left: 20px;
  margin-left: 0;
}

.remark-highlight pre {
  border-radius: 6px;
}
