:root {
  --body_color: #333;
  /* --heading_color: #011834; */
  --heading_color: #000;
  /* --link_color: #069275; */
  /* --link_hover: #047c64; */
  --link_color: #3856ff;
  --link_hover: #2a45de;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--body_color);
  font-size: 18px;
  line-height: 1.6;
  font-family: "Source Serif Pro", serif;
  /* background-color: #eaf5f3; */
}

a {
  color: var(--link_color);
  text-decoration: none;
}

a:hover {
  color: var(--link_hover);
}

a:hover h4 {
  color: var(--link_color);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/**********  LAYOUT  **********/
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
}

.main {
  padding: 3rem 0;
}

.row {
  display: flex;
  grid-gap: 1%;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.column.left {
  flex-basis: 82%;
}
.column.right {
  flex-basis: 17%;
}

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
    grid-gap: 0;
  }
  .column.left,
  .column.right {
    flex-basis: 100%;
    flex-direction: column;
  }
}

ul {
  padding-left: 25px;
  list-style-type: square;
}

li {
  line-height: 1.8em;
}

/**********  TYPOGRAPHY  **********/

h1 {
  color: var(--heading_color);
  font-weight: normal;
  font-size: 32px;
}

h2 {
  color: var(--heading_color);
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  color: var(--heading_color);
  font-weight: normal;
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0.3rem;
  color: var(--heading_color);
  font-weight: bold;
}

/**********  HEADER  **********/

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: var(--heading_color);
  font-weight: bold;
  font-size: 22px;
}

.navbar {
  text-align: right;
  float: right;
}

.navbar a {
  display: inline-block;
  margin-left: 50px;
  color: #444;
}

.header a:hover {
  color: var(--link_color);
}

.navbar .active {
  color: var(--link_color);
}

/**********  HOME  **********/
.welcome {
  min-height: 38px;
}

.signature {
  display: block;
  padding-top: 30px;
  width: 100px;
}
@media (max-width: 600px) {
  .home--image {
    display: none;
  }
}

/**********  LIST  **********/

.list {
  margin-top: 30px;
}

.list__thumbnail {
  width: 100%;
  height: 130px;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 6px;
  background-size: cover;
  margin-top: 10px;
}

.list__title {
  color: var(--heading_color);
  padding-bottom: 5px;
}

.list__title:hover {
  color: #0f6ad6;
}

.list__sub,
.list__date {
  color: var(--body_color);
}

.list__date {
  padding-top: 5px;
  font-size: 14px;
  line-height: 28px;
}

/**********  TALKS  **********/
/* .videos.list {
  margin-top: 60px;
} */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-top: 5px;
  border-radius: 6px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bullet__list {
  padding-left: 20px;
  margin-left: 0;
}

.remark-highlight pre {
  border-radius: 6px;
}
